// Copie este arquivo para include/secrets.h e preencha.
// O secrets.h NAO vai para o git (esta no .gitignore).
#pragma once
#define WIFI_SSID "nome-da-sua-rede"
#define WIFI_PASS "senha-da-sua-rede"
